body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #30405f;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: #3f7842;
    padding: 20px;
    height: 70vh;
    width: 50vw;
    border-radius: 12px;
    gap: 10px;
}

.top-controls {
    flex: 0 1 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.sketch {
    flex: auto;
    background-color: white;
}

.bot-controls {
    flex: 0 1 100px;
    display: flex;
    justify-content: space-between;
}

.left-controls {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

button {
    padding: 12px;
    border: none;
    background-color: #833100;
    border-radius: 12px;
    color: white;
    font-weight: 600;
}
